# Environments
reid_env/
venv/
.env

# Data and Models
data/*
!data/cam1.mp4
!data/cam2.mp4
!data/cam3.mp4
!data/osnet_x0_25_market.pth
*.pt
*.onnx
*.engine

# Python
__pycache__/
*.py[cod]
*$py.class

# OS
.DS_Store
Thumbs.db

# Logs
*.log
